*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body
{
    background:linear-gradient(135deg,#153677,#4e085f);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container
{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.insertitem
{
    background-color: #edeef0;
    width: 90%;
    display: flex;
    border-radius: 20px;
    margin: 10px 0 10px 0;
}
.input
{
    background-color: #edeef0;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: 14px;
}
.ipbox
{
    flex-basis: 75%;
}
.addbtn
{
    background-color: #FF5945;
    color: #FFF;
    flex-basis: 25%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.todoitem
{
 width: 90%;
 display: flex;
 /* background-color: pink; */
 flex-direction: column;
 margin-left: 15px;
 
}

.todoitems
{
    width: 100%;
    /* background-color: purple; */
    display: flex;
    /* height: 30px; */
    color: darkblue;
}

.checkbox
{
    flex-basis: 80%;
}
.deletebtn
{
    flex-basis: 20%;
    /* background-color: green; */
}

.line-strike
{
    text-decoration: line-through;
}

.todolist h2
{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.todolist h2 img
{
    width: 30px;
    margin-left: 10px;
}


input[type="checkbox"] {
    display: none;
}

/* Style for the circular checkbox */
.checkbox-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: border-color 0.3s;
    cursor: pointer;
}

/* Style for the checked circular checkbox */
input[type="checkbox"]:checked + .checkbox-circle {
    border-color: #007bff;
    background:url('images/checked.png');
    background-size: cover; /* Add a background color for the checked circle if desired */
}

.checkbox
{
    display: flex;
    align-items: center;
    /* font-weight: 800; */
    cursor: pointer;
    font-size: 19px;
}

/* .ml
{
    margin-left: 3px;
} */



.deletebtn
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}